<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Management</title>
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

    </style>
</head>
<body>

<!-- добавление юзеров -->
<h2>Add User</h2>
<form th:action="@{/users}" method="post" style="margin-top: 20px;">
    <div style="margin-bottom: 10px;">
        <label for="firstName" style="display: inline-block; width: 100px;">First Name:</label>
        <input type="text" id="firstName" name="firstName" required style="margin-left: 10px;">
    </div>
    <div style="margin-bottom: 10px;">
        <label for="lastName" style="display: inline-block; width: 100px;">Last Name:</label>
        <input type="text" id="lastName" name="lastName" required style="margin-left: 10px;">
    </div>
    <div style="margin-bottom: 10px;">
        <label for="email" style="display: inline-block; width: 100px;">Email:</label>
        <input type="email" id="email" name="email" required style="margin-left: 10px;">
    </div>
    <button type="submit" style="margin-left: 100px;">Add User</button>
</form>


<!-- Таблица всех юзеров -->
<h2>User List</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.email}"></td>
        <td>
            <!-- Форма для редактирования -->
            <form th:action="@{/users/edit}" method="get">
                <input type="hidden" name="id" th:value="${user.id}" />
                <button type="submit">Edit</button>
            </form>
            <!-- Форма для удаления-->
            <form th:action="@{/users/delete}" method="post">
                <input type="hidden" name="id" th:value="${user.id}" />
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
